button,
button:hover {
    border: none;
    color: #fff;
    padding: 10px;
}
.chat__messages,
.chat__sidebar ul {
    list-style-type: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.95rem;
}
li,
ul {
    list-style-position: inside;
}
h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}
button {
    background: #265f82;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #1f4c69;
}
button:disabled {
    cursor: default;
    background: #698ea5;
}
button#leave-room{
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0px;
    padding: 0px 5px;
    cursor: pointer;
}
.fas.fa-file-image {
    width: 30px;
    vertical-align: middle;
    margin-left: -30px;
    margin-top: 10px;
    vertical-align: middle;
    cursor: pointer;
    transform: scale(1.3);
    
}
.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
}
.centered-form__form {
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px;
    width: 350;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(10,10,10,0.1);
    -moz-box-shadow: 0px 9px 5px 0px rgb(10,10,10);
    box-shadow: 0px 9px 5px 0px rgba(10,10,10, 0.5);
}
.form-field {
    margin: 20px 0;
}
.form-field > * {
    width: 100%;
}
.form-field label {
    display: block;
    margin-bottom: 7px;
}
.form-field input,
.form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
    display: inline;
}

.room-field input{
    width: 65%;
    /* display: inline; */
}
.select-room-field {
    width: 35%;
    height: 40px;
    /* display: inline; */
}
.chat {
    display: flex;
}
.chat__sidebar {
    overflow-y: scroll;
    width: 260px;
    height: 100vh;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
}
.chat__footer,
.chat__sidebar li {
    background: #e6eaee;
    padding: 10px;
}
.chat__sidebar h5 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left;
}
.chat__sidebar li {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 10px;
}
.chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
}
.chat__footer {
    display: flex;
    flex-shrink: 0;
}
.chat__footer form {
    flex-grow: 1;
    display: flex;
}
.chat__footer form * {
    margin-right: 10px;
}
.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1;
}
.message {
    padding: 10px;
}
.message__title {
    display: flex;
    margin-bottom: 5px;
}
.message__title h6 {
    font-weight: 600;
    margin-right: 10px;
}
.message__title span {
    color: #999;
    vertical-align: middle;
    margin-top: 10px;
}
.slide_sidebar_button {
    display: none;
}
.slide_sidebar_button {
    display: none;
}
.close_sidebar_button{
    display: none;
}

nav {
    display: none;
    background-color: rgba(49, 84, 129, 1);
    width: 100%;
    display: none;
}

#image-to-send-container {
    max-width: 100%; 
    top: 10%;
    text-align: center;
    background-color: white;
    display: none;
    z-index: 100;
    background-color: #fff;
}

#image-to-send {
    margin-left: 0%;
    max-height: 300px;
    margin-left: 0%;
    text-align: center;

    -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
    -moz-box-shadow:    3px 3px 5px 6px #ccc; 
    box-shadow:         3px 3px 5px 6px #ccc;   
}

#close-image-icon {
    color: #fff;
    transform: scale(1.5);
    background-color:#e91e63 !important;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    height: 40px;
    width: 40px;
}
#send-image-icon {
    color: #fff;
    transform: scale(1.5);
    background-color: green;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 15px;
}
#send-image-icon:disabled, #send-image-icon[disabled]{
    opacity: 0.5;
}
#close-image-icon:disabled, #close-image-icon[disabled]{
    opacity: 0.5;
}

@media (max-width: 600px) {
    * {
        font-size: 1rem;
    }
    .chat__sidebar {
        display: none;
    }
    .chat__footer {
        flex-direction: column;
    }
    .chat__footer form {
        margin-bottom: 10px;
    }
    .chat__footer button {
        margin-right: 0;
    }
    nav {
        display: block;
    }
    .slide_sidebar_button {
        display: block;
        float: right;
        color: #484848;
        font-size: 1.5rem;
        padding:10px;
        padding-right: 20px;
        z-index: 10;

    }
    .close_sidebar_button{
        display: none;
        float: right;
        color: #484848;
        font-size: 1.5rem;
        padding:10px;
        padding-right: 20px;

        z-index: 10;


    }
    .ownMessage {
        float: right;
        background-color:  #0e0;
        border-radius: 20px;
        display: block;
    }
    #image-to-send-container {
        position: relative; 
        max-width: 100%; 
        max-height: 70%;
        margin-left: 0%;
        vertical-align: middle;
        display: none;
    }
    
    #image-to-send {
        position: relative;
        max-width: 100%;
    }
    
}

